<?xml version="1.0" encoding="UTF-8"?>
<suite name="Suite" thread-count="1" parallel="classes">
  <test name="Test">
   <parameter name="browser" value="Chrome" />
    <classes>
     <!--  <class name="smokeTest.SC001_SignInSignUp"/>-->
     <!--  <class name="smokeTest.SC002_ForgotPassword"/>-->
      <class name="smokeTest.SC003_ValidateDashboardAndDropdowns"/>
    </classes>
  </test> <!-- Test --> 
  
</suite> <!-- Suite -->